.render {
    background-image: url("../../img/background.jpg");
    height: 100vh;
    width: '100vw';
    position: 'relative';
    background-size: contain;
}

.downBar{
    position: absolute;
    bottom: 0;
    height: 7%;
    width: 100%;
    background-color: #8f8f8fe3;
}
.frame{
    background-color: aliceblue;
    height: 100%;
    color: black;
}
  
.frameTop{
    background-color: #2f89a1;
    padding: 10px;
    cursor: move;
}