.render {
    background-image: url("../../img/background.jpg");
    height: 100vh;
    position: 'relative';
    background-size: cover;
}

.downBar{
    position: absolute;
    bottom: 0;
    width: 100%;    
    padding: 2px;
    background-color: #4cae50;
}
.frame{
    background-color: aliceblue;
    color: black;
    border-radius: 0 0 5px 5px;
    padding: 15px;
}
  
.frameTop{
    background-color: #4CAF50;
    cursor: move;
    display: flex;
    justify-items: center;
    border-radius: 5px 5px 0 0;
}
.botoesAlinhamento{
    display: flex;
    justify-content: flex-end;
}
.btnStyle{
    width: 40px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
}

.btnMenu{
    width: 44px;
    height: 44px;
    font-size: 15px;
    cursor: pointer;
}

.btnColor{
    background-color: #65d76a;
    border: 0.1px solid;
    color: white;
}
.btnColor:hover{
    background-color: #77e47d;
}
.alingWindows{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

