.render {
    background-color: #4f4f4f;
    border-radius: 5px;
}

.navigation_tab {
    background-color: #2f2f2f;
}

.btn_end {
    display: flex;
    align-items: flex-end;
}

.transition-menu-lateral {
    transition: 0.26s;
}

.fixed_bottom {
    position: fixed !important;
    z-index: 1100 !important;
    bottom: 0 !important;
    left: auto !important;
    right: 0 !important;
    margin: 20px !important;
    color: white !important;
}